**/.idea
**/.idea/
**/.vs/
**/Library/
**/bin/
**/obj/
**/Temp/
**/.objs/
**/.svn/
**/*.csproj.user
**/*.apk
**/*~
**/*.csproj

**/$SVN/
$SVN/

.vscode

Block_UClient/.vs/
Block_UClient/Library/
Block_UClient/bin/
Block_UClient/obj/
Block_UClient/Temp/
Block_UClient/Assembly-CSharp.csproj.user
Block_UClient/Assembly-CSharp.csproj
Block_UClient/Assembly-CSharp-Editor.csproj
Block_UClient/Assembly-CSharp-Editor-firstpass.csproj
Block_UClient/Assembly-CSharp-firstpass.csproj

Block_UClient/Sirenix.OdinInspector.CompatibilityLayer.csproj
Block_UClient/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
Block_UClient/Unity.AssetBundleBrowser.Editor.csproj
Block_UClient/Unity.AssetBundleBrowser.Editor.Tests.csproj

Block_UClient/Assets/StreamingAssets/
Block_UClient/Assets/StreamingAssets.meta

UClientCode/Project.Log/.vs/
UClientCode/Project.Log/Project.Log/bin
UClientCode/Project.Log/Project.Log/obj

UClientCode/Project.Hotfix/.vs/
UClientCode/Project.Hotfix/Project.Hotfix/bin/
UClientCode/Project.Hotfix/Project.Hotfix/obj/

UClientBuild/
